
* {box-sizing: border-box;
}



/* this is the style rules for your scroll */ 
html {scroll-behavior: smooth;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(69, 76, 82);
    background-color: rgb(135, 215, 226);
    line-height: 1.5;
}

/* this is your header section */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px,6% 15px,0;
flex-wrap: wrap;
background-color: rgb(69, 76, 82)
}

header h1 {
    background-color:rgb(225, 146, 97);
    color:rgb(69, 76, 82);
    padding: 5px, 1%, 5px, 6%;
    margin: 15px;
    font-size: 4vw;
    line-height: 1;
}
h1 {    
    background-color:rgb(69, 76, 82);
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}

    /* these are the style rules for your nav bar */ 
nav {
    background-color:  rgb(69, 76, 82);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display:inline;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    padding: 5px,10px;
    color: rgb(225, 146, 97);
    font-size: 26px; 
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    background-color:rgb(69, 76, 82);
    margin: 10px;}

 nav a:hover{ 
    background-size: 150% 150%;
    font-size:30px;
    color:aqua
    }

    /* these are the style rules for the hero image */ 
.hero {
    background-image: url("./assests/images/sierra.png");
    background-size: cover;
    background-position:contain;
    min-height: 30vh;
    width: 100%;
    Height: 200px;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.page-wrapper {    
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;}

.page-section{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(69, 76, 82);
    font-size: 3vw;
    line-height: 1.1;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:  rgb(69, 76, 82);
}
.page-section p {
    margin: 15px;
    font-size: medium;
}

/* below are the style rules for the profile picture */ 
.profile {
    display: flex;
}
.profile img {
    height:300px;
    margin: 10px;
    border-radius: 5%;
    border: solid 5px rgb(34, 95, 34);
}

/* below are the style rules for paragraphs */ 
p {    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about p {
    display:flex;
    max-width: 1300px;
    margin-top: 50px;
    margin-right:3in;
}

/* below are the style rules for the work section of the website */ 
.page-section > div {
    flex: 0 0 77%}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid  rgb(34, 95, 34);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border-color: rgb(225, 146, 97)
}
.flex-item:first-child {
        min-height: 400px;
        flex-basis: 100%;
    }

    /* below are the links and style rules for background image for the first project */ 
.horiseon {
        background-image: url("./assests/images/digital-marketing-meeting.jpeg");
        border-radius: 30px;
        background-position: left;
    }

.flex-item div {
        padding: 8px 10px;  
        background-color: rgb(34, 95, 34);
        border-radius: 15px;
        display:block;
}

.flex-item div:hover {
    cursor: pointer;
}

.flex-item h3 {
    font-size: 1.6rem;
    background-color:  rgb(34, 95, 34);
    color:rgb(135, 215, 226);
}

.flex-item span {
    color:rgb(135, 215, 226);
    background-color:  rgb(34, 95, 34);
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* below are the style rules for the contact section */ 
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact a {
    color: rgb(69, 76, 82);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-content: bottom;
}
.contact a:hover{
    cursor:pointer;
}

/* below are the style rules for the remaining background images */ 
.juniper {
    background-image: url("./assests/images/yosemite-np-06.jpeg");
    background-position: right
}

.half-dome {
    background-image: url("./assests/images/half-dome.jpeg");
    background-size: cover;
    background-position: 90% 20%;
}

.sequia {
    background-image: url("./assests/images/sequia.jpeg");
}

.jay {
    background-image: url("./assests/images/jay.jpeg");
    background-position: 70% 35%;
}

/* below are the style rules for media queries */ 
@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
}
@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }